<% include partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;" >Create a new item to Sell</h1>

		<div style="width:30%; margin: 28px auto;">
			<form action="/allitems" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="Name" >
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="Image URL">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>

			<a href="/allitems">Go Back</a>

		</div>
	</div>
</div>

<% include partials/footer %>
